<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>saoOrangeCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28E859011EE7CC0100044BB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28E8591A1EE7CC0100044BB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28E859251EE7CC0200044BB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
